body {
    background-color: black;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    list-style-type: none;
}

.movie-item {
    background-color: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

    .movie-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-poster-image {
    width: 100%;
    height: auto;
}

.movie-details {
    padding: 15px;
}

.movie-title {
    font-size: 1.2em;
    text-decoration: none;
}

.movie-plot {
    font-size: 0.9em;
    color: #666;
    text-decoration: none;
}

    .movie-title a, .movie-plot a {
        text-decoration: none;
        color: inherit; /* Mantener el color del texto sin cambiarlo al color del enlace */
    }

.movie-grid-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

@media (min-width: 768px) {
    .movie-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .movie-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .movie-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas para pantallas muy grandes */
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin-top: 20px;
}

.button {
    background-color: #0070f3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

    .button:disabled {
        background-color: #d3d3d3;
        cursor: not-allowed;
    }

.details-button {
    background-color: #0070f3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

    .details-button:hover {
        background-color: #005bb5;
    }
